body{
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    margin: 0;
}

li{
    margin-right: 80px;
    list-style: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.logo{
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 54px;
    margin-left: 35px;
    align-items: center;
}

